
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/************** share style ************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
}
.description{
    font-size: 1rem;
    color: var(---primary-color);
    font-weight:600;
}
.btn-primary{
    font-size: 1rem;
    background-color: var(--button-color);
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;

}
:root{
    ---primary-color:#3A3A3A;
    --text-color:#18191F;
    --button-color:#E02C6D;
    --gray-color:#787885;
    --dark-color:rgba(0, 0, 0, 0.87);
    --font-primary:1.25rem;
    --font-secondary:1rem;
   


}
/* *********** navbar ************** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    
}

.icons-items{
    display: flex;
    gap: 15px;
}
.icons-items>ul {
    display: flex;
    gap: 30px;
}
.icons-items>ul >li{
    list-style: none;
    font-size: var(--font-secondary);
    font-weight: 600;
    color: var(---primary-color);
}
.icons-items>ul h1{
    font-size: var(--font-primary);
    font-weight: 700;
    color:var(---primary-color);

}
#bars{
    display: none;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 80px 10px;


}
.banner-text{
    width: 50%;
}
.banner-text h1{
    font-size:3.5rem ;
    font-weight: 700;
    color: var(---primary-color);
    margin-bottom: 20px;
}
.banner-image> img{
    background-image: url(./images/Circle\ design.svg);
    
    background-size: cover;

}
/* ****************** company-image ****************************** */
.company-image{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 1110px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
/* Popular Collection */
.collection{
    position: relative;
}
.collection h1{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(---primary-color);
    padding: 30px;
}
.collection-items{
    background-color: #EEEEEE;
    /* display: flex;
    flex-wrap: wrap;  */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    /* padding: 20px; */
 
}
.item{
    background-color: white;
    
    line-height: 30px;
    

}
.item img{
    width: 100%;
}
.item h2{
    font-size:1.80rem ;
    font-weight: medium;
    color: var(--text-color);
}
.item h3{
    font-size: 1.75rem;
    font-weight: normal;
    color: var(--text-color);
    margin-top: 15px;
}
.stars{
    display:flex;
    flex-direction: row;
    gap: 15px;
}
.icons-star {
    color:rgba(251, 130, 0, 1);
   
}
.collection-text{
    font-weight: 700;
    width: 75%;
}
.See{
 position:absolute;
 right: 0px;

 color: var(--button-color);
 font-weight: bold;
 font-size:1rem;
}
/* feature */
.feature{
    display: flex;
    margin: 50px 0px;
    gap: 80px;
    padding: 150px;
    justify-content: center;
    align-items: center;

}
.feature-content h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text-color);

}
.feature-content p{
    padding: 20px 0px;
}
.feature-content button{
    border-radius: 0%;
}
/* footer */
footer{
    background-color: #18191F;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 50px;
    line-height: 50px;

}
footer >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer >ul >li{
    list-style: none;
  
}







@media screen and (max-width:576px) {
    .container{
        margin: 0 auto;
    }
    nav{
       /* padding: 0px 2px; */
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    /* nav >h1{
        font-size: 1rem;
    } */
    nav>ul {
  
    gap: 0px;
}


 #bars{
         display: inline;
         position: relative;
        bottom:-75px;
        left: 1px;
    }
    #icons{
        display: none;
    }
    #shopping{
    display: block;
    }
    .banner
    {
        flex-direction: column-reverse;
        padding: 0px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .banner-text{
       width: 100%;
        text-align: center;
      
    }
    .banner-text >h1{
        font-size: 1.5rem;
    }
    .banner-image >img{
        width:100%;
         text-align: center;
         margin-top: 20px;
    }
   
    .company-image {
         
        flex-wrap: wrap;
        width: 270px;
        margin: 0px auto ;
        padding-top: 20px;
    }
     .company-image>img{
        width: 50px;
     }
     .collection-items{
   
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    
}
.feature{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 0px;
  
    
}
.feature-img >img{
    width: 100%;
    
}
.feature-content{
    text-align: center;
    width: 100%;
    padding: 0px;
    /* margin: 0px; */
     
}
footer{
    padding: 56px;

}
footer>h1{
    font-size: 1rem;
    font-weight: bold;
}
footer>p{
    font-size: .8rem;
}
}

/* medium device  */
@media screen and (min-width:577px ) and (max-width:1024px) {
    .container{
        margin: 0 auto;
    }
      nav , .banner {
       /* padding: 0px 2px; */
        /* justify-content: space-evenly; */
        flex-direction: column;
         gap: 20px;

    }
    
 
    .banner{
       justify-content: center;
       align-items: center;
       width: 100%;
    }
    .banner-text{
       width: 80%;
        text-align: center;
      
    }
    .banner-image >img{
        width:100%;
         text-align: center;
         margin-top: 20px;
    }
    .company-image {
         flex-wrap: wrap;
        align-items: center;
        width: 550px;
        padding: 20px 0px;
        margin: 0px auto;
       
    }
     .company-image>img{
        width: 80px;
     }
          .collection-items{
   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
     
}
.feature{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0px;
    margin: 0px;

    
}
.feature-content{
    text-align: center;
}
.feature-img >img{
    width: 100%;
     
}
.feature-content{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  
     
}
}
